
fieldset {
	width: 500px; 
	margin-left: auto; 
	margin-right: auto;
	border-width: 3px;
	border-style: solid;
	border-color: #455577;
	border-radius: 8px;
}

label {
	font-family: Geneva, sans-serif; 
}

form {
	margin-bottom: 10px;
}

legend {
	font-family: Arial, sans-serif; 
	font-weight: bold;
	font-size: 0.9em;
}

ul {
	margin-top: 3px;
	margin-bottom: 3px;
}

.button {
	width: 40%;  
	color: white; 
	font-weight: bold;
	font-family: sans-serif; 
	position: relative;
	text-align: center; 
	background: #455577; 
	border: 1px solid #000; 
	text-shadow: 1px 1px 1px black; 
	box-shadow: 0 1px 3px black; 
}

.spoiler {
	width: 70%;  
	color: white; 
	font-weight: bold;
	font-family: sans-serif; 
	position: relative;
    left: 15%;
	text-align: center; 
	background: #657dae; 
	border: 1px solid #000; 
	text-shadow: 1px 1px 1px black; 
	box-shadow: 0 1px 3px black; 
}

.desc, li {
	font-size: 0.9em;
	font-family: Geneva, sans-serif;
	margin-top: 1px;
	margin-bottom: 3px;
}

.reptitle {
    font-size: 1.2em;
	font-family: Helvetica, sans-serif; 
    text-align: center;
	color: #262f45;
	margin-top: 10px;
	margin-bottom: 6px;
}

.headline {
	font-size: 1.2em;
	font-family: Helvetica, sans-serif; 
	color: #262f45;
	margin-top: 4px;
	margin-bottom: 1px;
}

.pf {
	font-size: 0.7em;
}

.val {
	font-size: 0.6em;
}

.thumb {
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.thumb img {
	width: 250px;
	border: 5px solid #ccc;
}
.thumb img:hover {
	width: 250px;
	border: 5px solid #455577;
	cursor: pointer;
}

.proxy {
    text-align: center;
    margin-bottom: 10px;
}

#proxy_cont {
    display: none;
    font-size: 0.8em;
	font-family: Geneva, sans-serif;
}

#proxy_cont label {
	margin-right: 5px;
}

#proxy_cont input {
    width: 100px;
    margin-right: 5px;
}

#image {
	position: fixed;
	display: none;
	left: 50%;
	margin-left: -250px;
	z-index: 999;
	top: 200px;
}

#image img {
	border: 5px solid #455577;
}

#scrollup {
    display: none;
    position: fixed;
    width: 50px;
    height: 26px;
    bottom: 35px;
    left: 35px;
    background: url("img/scrollup.png") no-repeat center center;
}

#scrollup p {
    margin-top: 30px;
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: Geneva, sans-serif;
	text-transform: uppercase;
	color: #000;
}
